.divUl {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

ul {
    width: 70%;
}




li {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid indigo;
}

p {
    max-height: 1.3em;
    margin: 0;
}