form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 261px;
    max-height: 268px;
    max-width: 220px;
    min-width: 220px;
    margin-top: 1rem;
}

span {
    color: red;
    font-weight: bold;
    font-size: 0.65rem;
}

label {
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border-radius: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}


button {
    height: 3rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

input,
button {
    border: 0.2rem solid rgb(121, 121, 121);
}

h4 {
    font-weight: bold;
    font-size: 1.5rem;
}