form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    min-width: 200px;
}

span {
    color: red;
    font-weight: bold;
    font-size: 0.65rem;
}
