#formCadastro {
    display: flex;
    align-items: center;
    margin-top: 15%;
    justify-content: center;
    flex-direction: column;
}

.divRouterLoginRegister {
    display: flex;
    align-items: center;
    flex-direction: column;
}